#search_block_top {
  padding-top: 27px;
  float: right; }
  @media (max-width: 767px) {
    #search_block_top {
      clear: both;
      width: 100%; } }
  #search_block_top #searchbox {
    float: left;
    width: 100%;
    border: 1px solid #d5d4d4;
    position: relative;
    background: none;
    padding-right: 50px; }
  #search_block_top .btn.button-search {
    background: none;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    color: #3e3e3e;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 16px;
      line-height: 28px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: black; }
  #search_block_top #search_query_top {
    display: inline-block;
    padding: 5px 10px 5px 13px;
    height: 28px;
    border: none;
    color: #000;
    background: none; }

.ac_results {
  background: white;
  border: 1px solid #dddddd;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
